:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #131313;
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
  text-align: center;
}

#app {
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
  background: #1c1c1c;
  border: #111 solid 5px;
  border-radius: 15px;
  width: 230px;
}

#bun {
  background: #111;
  border: 5px solid #070707;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  width: 150px;
  height: 75px;
  z-index: 1000;
  pointer-events: auto;
  margin-left: -65px;
}

#prog {
  background: #838383;
  border: #646464 solid 5px;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 35px;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  background: #181818;
  border-radius: 10px;
  border: #111 solid 5px;
}

#warning {
  background: #241616;
  padding: 10px;
  margin-top: 5px;
  border: #351414 solid 5px;
  border-radius: 5px;
}

#menu {
  background: #131313;
  border-radius: 10px;
  border: #070707 solid 5px;
  padding: 10px;
  display: grid;
}

#menubun:hover {
  background: #202036;
  border: #0b0b11 solid 5px;
}

#clear {
  background: #3d1b1b;
  padding: 10px;
  border: #111 solid 5px;
  border-radius: 10px;
}

#noremovebun {
  background: #1c1c1c;
  border: #0d0d0d  solid 5px;
  font-weight: bold;
}

#noremovebun:hover {
  background: #145007;
  border: #0d280d solid 5px;
}

#removebun {
  background: #1c1c1c;
  border: #0d0d0d  solid 5px;
  font-weight: bold;
}

#removebun:hover {
  background: #7d1010;
  border: #2d0b0b solid 5px;
}

#inventory {
  padding: 20px;
  background: #131313;
  margin-top: 10px;
  border-radius: 10px;
  border: #070707 solid 5px;
  /* margin-left: 10px; */
}

#inventorybun, #menubun {
  margin: 1px;
  background: #181818;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  border: #0d0d0d solid 5px;
}

#inventorybun:hover {
  background: #93602a;
  border: #2f1b11 solid 5px;
  filter: drop-shadow(0 0 2em #814d31);
}

#inventorybunBack {
  margin: 2px;
  background: #181818;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  border: #0d0d0d solid 5px;
}

#inventoryimg {
  width: 95px;
}

#img {
  position: relative;
  width: 40%; /* Адаптивный размер относительно кнопки */
  max-width: 60px; /* Ограничение размера */
  height: auto;
  transform: rotate(-20deg);
  left: 25.6%;
  bottom: 24px;
  pointer-events: none; /* Чтобы клики проходили через изображение */
}

.card {
  background: #1c1c1c;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: white;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.logo {
  width: 3em;
}

.logo.svelte {
  width: 3em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.svelte:hover {
  filter: drop-shadow(0 0 2em #ff3e00aa);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* === Адаптация под мобильные устройства === */
@media (max-width: 768px) {
  #bun {
    width: 150px;
    height: 75px;
    font-size: 16px;
  }

  #cards {
    flex-direction: column;
  }
  .card {
    max-width: 90%;
  }
  #img {
    width: 50%; /* Меняем размер для мобильных */
    left: 25.6%;
    bottom: 24px;
  }
}

